streamlit>=1.31.0
python-dotenv>=1.0.0
langchain>=0.1.0
langsmith>=0.0.75
tavily-python>=0.2.6
openai>=1.8.0
pinecone-client>=2.2.2
requests>=2.31.0
pydantic>=2.5.0
tqdm>=4.66.1
newsapi-python>=0.2.7
pyarrow>=14.0.1
watchdog>=3.0.0
transformers>=4.38.0
torch>=2.0.0
accelerate>=0.28.0
sentence-transformers>=2.5.0
huggingface_hub>=0.23.0 